@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
    font-family: "Raleway";
}

.img-container{
    height: 100%;
    min-width: 50vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.img-container span{
    /* float: right; */

}

.img-container img{
   width: 100px;
   height: 100%;
   float: left;
}

.text-container{

    text-align: center;
}
.expand{
    font-size: 50px;
    color: dimgrey;
    float: right;
    cursor: pointer;
    border-radius: 50%;
}